### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [162]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "c:/LearnPython/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [163]:
player_count = len(df["SN"].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [164]:
num_purchases = df['SN'].count()
number_of_games = len(df['Item ID'].unique())
player_count = len(df["SN"].unique())
total_revenue = df['Price'].sum()


gb_item_df = df.groupby(['Item ID'])
item_ID_counts = df['Item ID'].value_counts()
item_sum = gb_item_df['Price'].sum()

item_summary_table = pd.DataFrame({"Rev by Game":item_sum,"# Games Sold":item_ID_counts})
item_summary_table['game_price'] = item_summary_table['Rev by Game'] /item_summary_table['# Games Sold']

avg_game_price = item_summary_table['game_price'].mean()

summary_df = pd.DataFrame({"# of Games":[number_of_games],
                           "Average Price":[avg_game_price],
                           "# of Purchases":[num_purchases],
                           "Total Revenue":[total_revenue]})


summary_df.head()

   # of Games  Average Price  # of Purchases  Total Revenue
0         183       3.043388             780        2379.77

## Gender Demographics






* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [165]:

#df4 = df.drop_duplicates
df2 = df.drop_duplicates(subset=['SN'])
gender_counts = df2['Gender'].value_counts()
gender_percent = gender_counts / player_count


gender_summary_table = pd.DataFrame({'Total Count':gender_counts,'Percentage of Players':gender_percent})

gender_summary_table.head()

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [166]:
purchases_by_gender = (df['Gender'].value_counts())

#purchase_gender_df = pd.DataFrame(df['Gender'].value_counts())
#purchase_gender_df()

purchase_gender_df = df.groupby(['Gender'])
total_purchases = purchase_gender_df["Price"].sum()
average_purchase_price = total_purchase / purchases_by_gender

#total Female purchases
#df['Price'].sum()

purchase_summary_table = pd.DataFrame({"Purchase Count": purchases_by_gender,
                                       "Average Purchase Price":average_purchase_price,                                       
                                       "Total Purchases": total_purchases})

purchase_summary_table.head()

                       Purchase Count  Average Purchase Price  Total Purchases
Female                            113                3.203009           361.94
Male                              652                3.017853          1967.64
Other / Non-Disclosed              15                3.346000            50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [191]:

# Create the bins in which Data will be held
# Bins are 0, 60, 70, 80, 90, 100
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df["Age Bin"] = pd.cut(df["Age"], bins, labels=group_names)
 

df3= df.drop_duplicates(subset=['SN'])
df3.head()


bin_counts = df3['Age Bin'].value_counts()
bin_percent = bin_counts / player_count


bin_summary_table = pd.DataFrame({'Total Count':bin_counts,'Percentage of Players':bin_percent})                                

bin_summary_table.head(10)

       Total Count  Percentage of Players
20-24          258               0.447917
15-19          107               0.185764
25-29           77               0.133681
30-34           52               0.090278
35-39           31               0.053819
10-14           22               0.038194
<10             17               0.029514
40+             12               0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [177]:
purchases_by_bin = (df['Age Bin'].value_counts())

purchases_by_bin_df = df.groupby(['Age Bin'])
total_purchases = purchases_by_bin_df["Price"].sum()
average_purchase_price = total_purchases / purchases_by_bin

purchase_summary_table_bin = pd.DataFrame({"Purchase Count": purchases_by_bin,
                                       "Average Purchase Price":average_purchase_price,                                       
                                       "Total Purchases": total_purchases})

purchase_summary_table_bin.head(10)

       Purchase Count  Average Purchase Price  Total Purchases
10-14              28                2.956429            82.78
15-19             136                3.035956           412.89
20-24             365                3.052219          1114.06
25-29             101                2.900990           293.00
30-34              73                2.931507           214.00
35-39              41                3.601707           147.67
40+                13                2.941538            38.24
<10                23                3.353478            77.13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [186]:
purchases_by_sn = (df['SN'].value_counts())

purchases_by_sn_df = df.groupby(['SN'])
total_purchases = purchases_by_sn_df["Price"].sum()
average_purchase_price = total_purchases / purchases_by_sn

purchase_summary_table_sn = pd.DataFrame({"Purchase Count": purchases_by_sn,
                                       "Average Purchase Price":average_purchase_price,                                       
                                       "Total Purchases": total_purchases})

sorted_table = purchase_summary_table_sn.sort_values("Total Purchases",ascending=False)

sorted_table.head(10)

              Purchase Count  Average Purchase Price  Total Purchases
Lisosia93                  5                3.792000            18.96
Idastidru52                4                3.862500            15.45
Chamjask73                 3                4.610000            13.83
Iral74                     4                3.405000            13.62
Iskadarya95                3                4.366667            13.10
Ilarin91                   3                4.233333            12.70
Ialallo29                  3                3.946667            11.84
Tyidaim51                  3                3.943333            11.83
Lassilsala30               3                3.836667            11.51
Chadolyla44                3                3.820000            11.46

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [207]:

#df4 = df[['Item ID','Item Name','Price']]
#df4_gb = df4.groupby(['Item ID','Item Name'])




purchases_by_id = (df['Item ID'].value_counts())

purchases_by_id_df = df.groupby(['Item ID'])

#average_purchase_price = total_purchases / purchases_by_id
total_purchases = purchases_by_sn_df["Price"].sum()
#purchase_summary_table_id = pd.DataFrame({"Purchase Count": purchases_by_id,"Total Purchases": total_purchases})

#sorted_table_id = purchase_summary_table_sn.sort_values("Total Purchases",ascending=False)


#sorted_table_id.head(10)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
The majority of players are between the ages of 20 - 24 of wich the majority are males

In [ ]:
On average the female player is willing to spend about 20 cents more per game

In [ ]:
Female players play no games with "Blood" in the tittle